*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  background-color: #f3f3f3;
}
main {
  width: calc(40rem - 80px);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: auto;
}
nav {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 3em;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
}
.Link {
  text-decoration: none;
  color: #fff;
}
.nav-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
.nav-btn {
  background-color: #111;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.7em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}
.nav-btn:hover {
  background-color: hsla(0, 0%, 0%, 0.7);
}
.tag-sort-container,
.title-sort-container {
  justify-self: center;
  width: 98%;
}
.edit-btn-container {
  position: relative;
}
.tag-container {
  position: absolute;
  left: 0;
  top: 110%;
  width: 10rem;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
.tag-container button {
  text-align: start;
  padding: 0.5em 1em;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-bottom: solid 2px darkgray;
  cursor: pointer;
  transition: 0.4s;
}
.add-tag {
  color: #f3f3f3;
  background-color: darkcyan;
  cursor: pointer;
}
.add-tag:hover {
  background-color: hsla(180, 100%, 23%, 1);
}
.sort-title {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: capitalize;
}
.titlesort,
.tagsort {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 0.5em;
}
.sort-input {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.7em;
  border: solid 2px darkgray;
  border-radius: 5px;
  width: 100%;
  height: 44.38px;
  background-color: #fff;
}
.sort-input:focus {
  outline: none;
}
.tagsort {
  position: relative;
}
.drop-down {
  position: absolute;
  top: 50%;
  right: 2px;
  border-radius: 0 5px 5px 0;
  width: 20%;
  height: 75%;
  transform: translateY(-50%);
  border-left: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
}
.drop-down > * {
  color: #111;
}
.tags {
  padding: 0.3em 0.5em;
  background-color: darkcyan;
  color: #fff;
  border-radius: 3px;
  font-size: 0.9rem;
  font-weight: bold;
}
.note-section {
  grid-column: span 2;
  padding: 1em 0;
}
.note-section label {
  width: 100%;
}
#note {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 0.5em 1em;
  font-size: 1.2rem;
  font-weight: bold;
}
.creat-note-btns {
  justify-self: end;
  grid-column: 2/-1;
  display: flex;
  align-items: center;
  gap: 1em;
}
.creat-note-btns > button {
  width: 5.1em;
  padding: 0.5em 1em;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #111;
}
.note {
  justify-self: center;
  width: 90%;
  border-radius: 10px;
  padding: 2.5em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 15px -13px #000;
  cursor: pointer;
  background-color: #fff;
  transition: 0.3s;
}
.note:hover {
  box-shadow: 0 5px 15px -7px #000;
}
.note h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.tags-container {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}
.browsNote-section {
  width: min(100% - 80px, 60rem);
  margin-inline: auto;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
.btn-container button {
  width: 5rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  transition: 0.3s;
}
.btn-container button:first-child {
  background-color: transparent;
  color: tomato;
  border: solid 2px tomato;
}
.btn-container button:last-child:hover {
  background-color: hsla(0, 0%, 0%, 0.7);
}
.btn-container button:first-child:hover {
  background-color: tomato;
  color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.7);
  z-index: 1000;
}
.new-tag-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #fff;
}
